body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 1rem;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.fact {
  width: 28%;
  color: #1f9dc5;
  background-color: lightgray;
  border: 1px solid #1f9dc5;
  border-radius: 4px;
  padding: 16px;
  margin: 1rem 0;
}

.input-show-fact {
  width: 10rem;
  color: #1f9dc5;
  background-color: rgb(233, 226, 226);
  border: 1px solid #1f9dc5;
  border-radius: 4px;
  padding: 0.5rem 2rem;
}

.input-show-fact::placeholder {
  font-size: 0.75rem;
}

.input-show-fact:focus {
  border: 1px solid rgb(38, 137, 177);
}

.fact img {
  width: 25%;
  margin-right: 0.5rem;
}

.fact-content {
  display: flex;
}

.fact p {
  text-align: left;
}

.profile-upload {
  background-color: lightgray; 
  border-radius: 10px;
  max-width: 300px;
  margin: 1rem auto;
  padding: 2rem;
}

.profile-upload-input {
  color: #4682b4; /* стальной синий цвет текста */
  margin-bottom: 10px;
}

.profile-upload-preview {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: contain;
  border: 1px solid #0095ff;
  padding: 5px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 200px;
  background-color: lightgray; 
  border-radius: 10px;
  padding: 2rem;
}

.image-wrap {
  position: relative;
  margin-right: 3rem;
}

.btn-delete {
  position: absolute;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 1.5rem;
  top: -1rem;
  right: -2.5rem;
}